[run]
source = aldryn_faq
branch = False
omit =
    aldryn_faq/migrations/*
    aldryn_faq/south_migrations/*

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise AssertionError
    raise NotImplementedError
    if __name__ == .__main__.:
