{% load placeholder_tags %}

{% regroup object_list|dictsort:"category_id" by category as qgroups %}
<div class="faq-list">
    <ul class="faq">
        {% for qgroup in qgroups %}
            <li>
                <h2 id="group-{{ qgroup.grouper.id }}">{{ qgroup.grouper }}</h2>
                <ul>
                    {% for question in qgroup.list %}
                        <li>
                            <a id="question-{{ question.id }}" href="{% url 'aldryn_faq:faq-answer' question.category.slug question.pk %}">{{ question.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
</div>